.card-base {
    width: 1s;
    height: 100px;
    border-radius: 20px; 
    background-color: #302F2F;
    box-shadow: 
        5px 5px 13px 0px rgba(31, 31, 31, 0.90),
        5px -5px 10px 0px rgba(31, 31, 31, 0.20),
        -5px 5px 10px 0px rgba(31, 31, 31, 0.20);
}
