card-list .kind-btn {
    border-radius: 20px;
    background-color: #121212;
    border-color: transparent;
    width: 1s;
    height: 50px;
}

card-list .kind-btn-row {
    col-between: 2%;
}

card-list .kind-selected-btn {
    border-color: rgba(252, 145, 46, 1);
    border-width: 2px;
}

card-list .kind-btn label {
    font-family: Montserrat;
    color: #E3E3E3;
}