.main {
    width: 100%;
    height: 100%;
    col-between: 2%;

    child-left: 1%;
    child-right: 1%;

    child-top: 3%;
    child-bottom: 3%;

    background-color: rgb(33, 33, 33);
}

button:hover {
    border-width: 2px;
    border-color: rgb(199, 119, 43);
}