.effect-handle {
    box-shadow:  8px 8px 15px #181818;
    border-color: red;
}

.effect-bar {
    background-color: #0f0f0f;
    col-between: 1s;
    cursor: grab;
}

.effect-bar button {
    color: white;
    width: 20pt;
    height: 20pt;
    background-color: #0f0f0f;
    border-width: 0px;
    border-color: transparent;
    border-radius: 0px;
}

.effect-bar button:hover {
    color: red;
    background-color: #0f0f0f;
}

.drag-indicator {
    color: white;
    font-size: 20;
}