effect-list .new-effect-indicator {
    width: 100%;
    max-width: 1s;
    min-height: 200pt;
    child-space: 10px;
}

effect-list .new-effect-indicator > vstack {
    border: 2px #121212;
    border-radius: 25px;
    child-space: 1s;
}

effect-list .new-effect-indicator > vstack label {
    font-size: 100;
    color: #121212;
}