preset-control {
    border-radius: 20px;
    background-color: #121212;
}

preset-control .name-wrapper textbox {
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-size: 36;
    font-family: 'Montserrat';
    border-width: 0px;
    width: 100%;
}

preset-control .name-wrapper {
    child-space: 1s;
    child-left: 10pt;
    max-height: 1s;
    overflow: hidden;
}

preset-control .save-btn {
    width: 60px;
    height: 60px;
    border-width: 0px;
    border-color: transparent;
    child-space: 1s;
    background-image: linear-gradient(135deg, #363636 0%, #303030 100%); 
    background-color: transparent;
    border-radius: 51px;
    font-family: "Symbols Nerd Font Mono";
}

.overwrite-ask {
    background-color: transparent;
    border-width: 0px;
    border-color: whitesmoke;
    font-weight: bolder;
}

preset-control .save-btn label {
    color: #e3e3e3;
    font-size: 30;
}

preset-control > hstack {
    col-between: 1s;
}