.sidebar label {
    color: white;
    font-stretch: ultra-condensed;
}

.tabs .tabview-divider {
    display: none;
}

.tabs tabheader {
}

.tabs .tabview-tabheader-wrapper:first-child:first-child:first-child {
}

.picker-wrapper {
    child-space: 8px;
    background-color: transparent;
    width: 100%;
    height: 20%;
}

.picker-row {
    col-between: 8px;
}

.kind-btn {
    width: 1s;
    background-color: black;
}

.selected-kind {
    width: 1s;
    background-color: red;
}