.indicator {
    background-color: transparent;
    height: 100%;
}

.tabs {
    position-type: self-directed;
    width: 100%;
}

tabview > .tabview-tabheader-wrapper {
    col-between: 5%;
    child-space: 19%;
}

tabview > .tabview-content-wrapper {
    background-color: green;
}

tabheader:checked {
    background-color: pink;
}

tabview > tabview-tabheader-wrapper {
    background-color: transparent;
    color: transparent;
    border-width: 0px;
}

.sidebar {
}