.sidebar label {
    color: white;
    font-stretch: ultra-condensed;
}

.tabs .tabview-divider {
    display: none;
}

.tabs tabheader {
    background-color:red;
}

.tabs .tabview-tabheader-wrapper:first-child:first-child:first-child {
    background-color: green;
}

.kind-btn {
    width: 50%;
    background-color: black;
}

.selected-kind {
    width: 50%;
    background-color: red;
}