audio-slider .audio-slider-bg {
    background-image: linear-gradient(0deg, rgba(49,255,60,1) 0%, rgba(255,236,62,1) 75%, rgba(255,52,52,1) 85%);
    border-width: 0px;
}

audio-slider slider .active {
    background-color: transparent;
}

audio-slider .audio-slider-mask {
    background-image: linear-gradient(0deg, black, black);
}

audio-slider slider zstack {
    background-color: transparent;
}

audio-slider slider .thumb {
    border-radius: 0px;
    height: 2%;
    width: 105%;
    background-color: rgb(35, 35, 35);
}

audio-slider slider .thumb:hover {
    background-color: rgb(199, 119, 43);
}

audio-slider slider .thumb:active {
    background-color: rgb(199, 119, 43);
}