.card-base {
    width: 1s;
    height: 100px;
    border-radius: 20px; 
    background-color: rgb(33,33,33);
}

.card-base label {
    font-size: 30;
    font-family: "Marvel";
    color: rgba(252, 145, 46, 1);
    font-weight: heavy;
}
