effect-handle {
    border-radius: 20px;
}

effect-handle .effect-bar {
    background-image: linear-gradient(135deg, #363636 0%, #303030 100%); 
    col-between: 1s;
    cursor: grab;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

effect-handle .effect-bar button {
    color: #e3e3e3;
    width: 20pt;
    height: 20pt;
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
    border-radius: 20px;
    transform: translate(-2px, 0px);
}

effect-handle .effect-bar button:hover {
    color: red;
}

effect-handle .drag-indicator {
    color: white;
    font-size: 20;
}