labeled-knob knob {
    width: 60px;
    height: 60px;
    background-image: linear-gradient(135deg, #363636 0%, #303030 100%); 
}

labeled-knob .knob-value {
    font-family: Montserrat;
    color: #e3e3e3;
}

labeled-knob knob .knob-head {
    background-image: linear-gradient(135deg, #363636 0%, #303030 100%); 
    border-color: #363636;
}

labeled-knob knob .knob-track {
    color: rgba(252, 145, 46, 1);
}