labeled-knob knob {
    width: 60px;
    height: 60px;
    background-image: none; 
    background-color: transparent;
}

labeled-knob .knob-value {
    font-family: Sparkler-Demo;
    color: #e3e3e3;
}

labeled-knob knob .knob-head {
    background-image: none;
    background-color: rgb(54, 54, 54);
    border-color: rgb(34, 34, 34);
    border-width: 2px;
}

labeled-knob knob .knob-track {
    color: rgba(252, 145, 46, 1);
    background-color: rgb(54, 54, 54);
}