.message-body {
    child-top: 1s;
    child-bottom: 1s;
    col-between: 1s;
    box-shadow:  8px 8px 15px #181818;
}

.message-close-btn {
    background-color: transparent;
    border-width: 0px;
    child-space: 1s;
    color: white;
    font-family: 'Symbols Nerd Font Mono';
}

.message-text {
    font-family: 'Sparkler-Demo';
    left: 10px;
}

.message-close-btn:hover label {
    color: black;
}