named-knob > zstack > label {
    color: #e3e3e3;
    font-family: "Sparkler-Demo";
    transform: translate(0px, 38px);
}

named-knob zstack {
    child-space: 1s;
}

named-knob:disabled > zstack > label {
    color: #404040;
}