.overdrive {
    background-image: url("drive-background");
    overflow: hidden;
    width: 1s;
}

overdrive .knob-tick {
    background-color: #fafafa;
}

.overdrive knob {
    width: 100px;
    height: 100px;
}

.overdrive .tone-knob {
    width: 50px;
    height: 50px;
}

.overdrive .volume-knob {
    width: 75px;
    height: 75px;
}

.overdrive label {
    color: black;
    font-family: "Saturday";
    font-size: 30;
}

.overdrive-knob-group .knob-head {
    background-image: linear-gradient(180deg, rgb(39, 24, 37), rgb(41, 10, 37));
    border-width: 0px;
    background-color: transparent;
}

.overdrive-knob-group arctrack {
    color: rgb(232, 86, 215);
}

.overdrive-knob-group {
    child-top: 2s;
}

.overdrive-knob-group:nth-child(1) {
    width: 1s;
}

.overdrive-knob-group:nth-child(2) {
    width: 2s;
}

.overdrive-knob-group:nth-child(3) {
    width: 1s;
}

.overdrive-knob-group > knob {
    border-radius: 100%;
}