.base-effect {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(34, 34, 34);
    width: 1s;
}

.effect-title {
    color: rgba(252, 145, 46, 1);
    font-family: "Major Mono Display";
    font-size: xx-large;
}