.filter-knob .knob-name {
    transform: translate(0px, 35px);
}

low-pass .effect-title,
high-pass .effect-title,
band-pass .effect-title {
    top: 40%;
    left: 55%;
}

.filter-graph {
    width: 200px;
    height: 1s;
    background-color: transparent;
    color: #e3e3e3;
}

.filter-graph:disabled {
    color: #404040;
}