knob {
    width: 100px;
    height: 100px;
    box-shadow: 2px 2px 2px rgb(252, 30, 30);
}

knob .track {
    background-color: #ff4d4d;
}

.label_knob {
    border-width: 2px;
    border-color: #28282b;
    background-color: #000000;
    col-between: 10px;
    child-space: 1s;
}